

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 979px) {
    
}

@media screen and (max-width: 768px) {
   /*navicon*/
   .navicon{
	background: transparent;
	margin-top: 7%;
	margin-right: 90%;
	position: fixed;
	height: 38px;
	width: 48px;
	z-index: 2;
	-webkit-transition: linear 0.5s all;
	transition: linear 0.5s all;
}
   /*home*/

	.back1 {
	    padding-bottom: 50px;
	    padding-top: 260px;
	}

	/* contacto*/

.menu-lateral {
	position: fixed;
	right: 0;
	top: 20%;
	z-index: 2000;
}
.menu-lateral ul {
	padding: 0;
	list-style: none;
}
.menu-lateral ul li a {
	display: inline-block;
	background: white;
	padding: 10px 15px;
	width: 80px;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	
}

.menu-lateral ul li a span {
	display: none;
	
}

	.toggle {
	    width: 100% !important;
	    height: 31.7% !important;
	}

	
	.toggle-menu li a {
    	padding: 0.4em 0em !important;
    	font-size: 2em !important;
	}
    .demo-6 .codrops-header__title  {
	    font-size: 7em !important;
	    margin: -1.5em 0em 0em 0em;
	}

	h2{
		font-size: 36px;
	}
	h3 {
    	font-size: 35px;
	}
	h4 {
	    font-size: 30px;
	}

	

	.button1 {
    display: inline-block;
    padding: 10px 24px !important;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
	.icon3,
	.icon1,
	.icon2 {
	    height: 50px;
	    width: 50px;
	}
	/*acerca de mi*/
	.back_acerca {
    	padding-bottom: 10px;
	}
	.text1 {
	    font-size: 8em;
	    padding: 0px;
	    margin: 50px 0px;
	}

	.foto{
	height: 450px;
	
}
	/*habiliades*/
	.habilidadesParr {
	    margin-top: 0px;
	}

	/*proyectos*/
	.proyectosWeb{
		margin-top: 0px;
		text-align: right;
	}

	
	.back3 {
	    margin-right: 44px;
	    margin-left: 44px;
	}
	.back4 {
	    margin-right: 44px;
	    margin-left: 44px;
	}

	/*graficos*/
	.proyectosgraficos{
		margin-top: -35px;
	}
	



  
}


@media screen and (max-width: 414px) {

   /*home*/

	.back1{
	    padding-bottom: 80px;
	    padding-top: 170px;
	}

	.toggle {
	    width: 100% !important;
	    height: 31.7% !important;
	}

	
	.toggle-menu li a {
    	padding: 0.4em 0em !important;
    	font-size: 1.2em !important;
	}
    .demo-6 .codrops-header__title  {
	    font-size: 4em !important;
	    
	}
	h3 {
    	font-size: 22.5px;
	}
	h4 {
	    font-size: 19.5px;
	}
	.icon3,
	.icon1,
	.icon2 {
	    height: 25px;
	    width: 25px;
	}
	/*acerca de mi*/
	.back_acerca {
    	padding-bottom: 10px;
	}
	.text1 {
	    font-size: 4em;
	    padding: 0px;
	    margin: 0px 0px;
	}

	.foto{
	height: 350px;
}
	/*habiliades*/
	.habilidadesParr {
	    margin-top: -10px;
	}

	/*proyectos*/
	.proyectosWeb{
		margin-top: -10px;
		text-align: right;
	}

	
	.back3 {
	    margin-right: 44px;
	    margin-left: 44px;
	}
	.back4 {
	    margin-right: 44px;
	    margin-left: 44px;
	}

	/*graficos*/
	.proyectosgraficos{
		margin-top: -10px;
	}
	
} 


@media screen and (max-width: 360px) {
   
   /*home*/

	.back1 {
	    padding-bottom: 80px;
	    padding-top: 112px;
	}

	.toggle {
	    width: 100% !important;
	    height: 31.7% !important;
	}
	.toggle-menu li a {
    	padding: 0.4em 0em !important;
	}
    .demo-6 .codrops-header__title  {
	    font-size: 3.4em !important;
	    margin: 1.5em 0em 0em 0em;
	}
	h3 {
    	font-size: 17px;
	}
	h4 {
	    font-size: 16px;
	}
	.icon3,
	.icon1,
	.icon2 {
	    height: 25px;
	    width: 25px;
	}
	/*acerca de mi*/
	.back_acerca{
    	padding-bottom: 10px;
	}
	.text1 {
	    font-size: 2.8em;
	    padding: 0px;
	    margin: 0px 0px;
	}

	.foto{
	height: 330px;
}
	/*habiliades*/
	.habilidadesParr {
	    margin-top: -20px;
	}

	/*proyectos*/
	.proyectosWeb{
		margin-top: -10px;
		text-align: right;
	}

	
	.back3 {
	    margin-right: 44px;
	    margin-left: 44px;
	}
	.back4 {
	    margin-right: 44px;
	    margin-left: 44px;
	}

	/*graficos*/
	.proyectosgraficos{
		margin-top: -20px;
	}
	
 
}

@media screen and (max-width: 320px) {
	/*home*/
	.back1{
	    padding-bottom: 80px;
	    padding-top: 89px;
	}

	.toggle {
	    width: 83% !important;
	    height: 31.7% !important;
	}
	.toggle-menu li a {
    	padding: 0.4em 0em !important;
	}
    .demo-6 .codrops-header__title  {
	    font-size: 3.4em !important;
	    margin: 1em 0em 0em 0em;
	}
	h3 {
    	font-size: 17px;
	}
	h4 {
	    font-size: 14px !important;
	}
	
	
	.icon3,
	.icon1,
	.icon2 {
	    height: 25px;
	    width: 25px;
	}
	/*acerca de mi*/
	.back_acerca {
    	padding-bottom: 10px;
	}
	.text1 {
	    font-size: 1.9em;
	    padding: 0px;
	    margin: 0px 0px;
	}
	

	/*habiliades*/
	.habilidadesParr {
	    margin-top: -50px;
	}


	/*proyectos*/
	.proyectosWeb{
		margin-top: -10px!important;
		text-align: right;
	}
	

	/*graficos*/
	.proyectosgraficos{
		margin-top: -110px;
	}
	
}